<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">News Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scraper</a></li>
            <li><a href="https://github.com/melonek/ScrapeMe" target="_blank" Git repo></a></li>
        </ul>
    </div>
</nav>