<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">All Articles belong to <a href="" target="_blank">Name of website</a>
            <a class="grey-text text-lightne-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>